<!doctype html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
		<div>
			<img src="../controller/template/images/header_01.png" width="100%">
			<img src="../controller/template/images/header_02.png" width="100%">
		</div>

		<div class="container" style="margin-top:20px;">
			<div class="row">
				<div class="col-md-12">
					<form method="post" onsubmit="return check_input_values();">
						<div class="form-group">
							<input type="email" class="form-control" id="text_email" name="username" value="" placeholder="输入邮箱地址" />
						</div>
						<div class="form-group">
							<input type="password" class="form-control" id="text_password" value="" placeholder="输入登录密码" />
							<input type="hidden" id="text_password_md5" name="password" value="" />
						</div>
						<button type="submit" class="btn btn-primary btn-block" id="button_login">登录</button>
					</form>
				</div>
			</div>

			<div class="row" style="margin:10px 0;">
				<div class="col-md-12">
					<a href="https://walkline.wang/iot" target="_blank" class="float-right">没有账号？</a>
				</div>
			</div>

			<div class="card">
				<!-- <div class="card-header">
					Featured
				</div> -->
				<div class="card-body">
					<h5 class="card-title">账号说明</h5>
					<!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
					<p class="card-text">访问 https://walkline.wang/iot 注册账号</p>
					<a href="#" class="card-link">Card link</a>
					<a href="#" class="card-link">Another link</a>
				</div>
			</div>
		</div>

		<nav class="navbar fixed-bottom navbar-light bg-light">
			&copy;<script language="javascript">document.write(new Date().getFullYear());</script> 走线物联
		</nav>

		<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
		<script src="https://walkline.wang/iot/vendor/Tools/jquery.md5.js"></script>

		<script language="javascript">
			var email = $("#text_email"),
				password = $("#text_password"),
				password_md5 = $("#text_password_md5"),
				button = $("#button_login");

			$(document).ready(function () {
				// check_input_values();
			});

			function check_input_values(event) {
				if (email.val() === "") {
					alert("email 不能为空");
					email.focus();
					return false;
				}

				if (password.val() === "") {
					alert("password 不能为空");
					password.focus();
					return false;
				}

				password_md5.val($.md5(password.val()));

				return true;
			}
		</script>
	</body>
</html>